table#Tabelle1 {
    border: 1px solid black;
   }
    
   table#Tabelle1 tr:nth-child(even) {
    background-color: #eee
   }
    
   table#Tabelle1 tr:nth-child(odd) {
    background-color: #fff;
   }
    
   table#Tabelle1 th {
    color: white;
    background-color: black;
    padding: 4px 4px 2px 4px;
   }
    
   table#Tabelle1 td {
    border: 1px solid black;
    padding: 2px;
   }
    
   table#Tabelle1 tr:last-of-type td {
    background-color: fffb99;
    text-align: center;
   }

   #Symbol {
    position: relative;
    left: 25em;
    top: 2em;
}
#LinkFont {
    font-size: 2em;
}